<style>
	p{
		font-size: 15px;
	}
</style>

<div id="invoice-POS">

    <div id="top" style="text-align: center">
      <div class="logo"></div>
      <div class="info">
        <h2>Varun Enterprise</h2>
      </div><!--End Info-->
    </div><!--End InvoiceTop-->

    <div id="mid">
      <div class="info">
        <h2>Contact Info</h2>
        <p>
            Address : {{address}}</br>
            Name   : {{name}}</br>
            Phone   : {{phone}}</br>
        </p>
      </div>
    </div><!--End Invoice Mid-->

    <div id="bot">

					<div id="table">
						<table>
							<tr class="tabletitle">
								<td class="item"><h2>Item</h2></td>
								<td class="price"><h2>Price</h2></td>
								<td class="Hours"><h2>Qty</h2></td>
								<td class="Rate"><h2>Sub Total</h2></td>
							</tr>


                            {% for row in bill_list %}
							<tr class="service">
								<td class="tableitem"><p class="itemtext">{{ row['item'] }}</p></td>
								<td class="tableitem"><p class="itemtext">{{ row['price']}}</p></td>
								<td class="tableitem"><p class="itemtext">{{ row['quantity'] }}</p></td>
								<td class="tableitem"><p class="itemtext">{{ row['sub_total'] }}</p></td>
							</tr>
                            {% endfor %}
							<!--<tr class="service">-->
								<!--<td class="tableitem"><p class="itemtext">Asset Gathering</p></td>-->
								<!--<td class="tableitem"><p class="itemtext">3</p></td>-->
								<!--<td class="tableitem"><p class="itemtext">$225.00</p></td>-->
							<!--</tr>-->

							<!--<tr class="service">-->
								<!--<td class="tableitem"><p class="itemtext">Design Development</p></td>-->
								<!--<td class="tableitem"><p class="itemtext">5</p></td>-->
								<!--<td class="tableitem"><p class="itemtext">$375.00</p></td>-->
							<!--</tr>-->

							<!--<tr class="service">-->
								<!--<td class="tableitem"><p class="itemtext">Animation</p></td>-->
								<!--<td class="tableitem"><p class="itemtext">20</p></td>-->
								<!--<td class="tableitem"><p class="itemtext">$1500.00</p></td>-->
							<!--</tr>-->

							<!--<tr class="service">-->
								<!--<td class="tableitem"><p class="itemtext">Animation Revisions</p></td>-->
								<!--<td class="tableitem"><p class="itemtext">10</p></td>-->
								<!--<td class="tableitem"><p class="itemtext">$750.00</p></td>-->
							<!--</tr>-->


							<tr class="tabletitle">
								<td></td>
								<td class="Rate"><h2>Tax</h2></td>
								<td class="payment"><h2>0</h2></td>
							</tr>

							<tr class="tabletitle">
								<td></td>
								<td class="Rate"><h2>Discount</h2></td>
								<td class="payment"><h2>0</h2></td>
							</tr>

							<tr class="tabletitle">
								<td></td>
								<td class="Rate"><h2>Total</h2></td>
								<td class="payment"><h2>{{total}}</h2></td>
							</tr>

						</table>
					</div><!--End Table-->

					<div id="legalcopy">
						<p class="legal"><strong>Thank you for your business!</strong>  Payment is expected within 31 days; please process this invoice within that time. There will be a 5% interest charge per month on late invoices.
						</p>
					</div>

				</div><!--End InvoiceBot-->
  </div><!--End Invoice-->
